# h2 in memory database
spring.datasource:
  url: jdbc:h2:./database;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
  driver-class-name: org.h2.Driver

# jpa
spring.jpa:
  open-in-view: false
  generate-ddl: true
  database-platform: org.hibernate.dialect.H2Dialect
  properties:
    hibernate:
      temp:
        use_jdbc_metadata_defaults: false

# axon framework
axon:
  axonserver:
    client-id: projector