spring.cloud.stream:
  kafka:
    binder:
      auto-add-partitions: false
      auto-create-topics: false
    streams:
      bindings:
        com:
          consumer:
            keySerde: org.apache.kafka.common.serialization.Serdes$StringSerde
            valueSerde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
            applicationId: com
        acf:
          producer:
            keySerde: org.apache.kafka.common.serialization.Serdes$StringSerde
            valueSerde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
        mtf:
          producer:
            keySerde: org.apache.kafka.common.serialization.Serdes$StringSerde
            valueSerde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
        bach:
          producer:
            keySerde: org.apache.kafka.common.serialization.Serdes$StringSerde
            valueSerde: io.confluent.kafka.streams.serdes.avro.SpecificAvroSerde
      binder:
        brokers: ["localhost"]
        configuration:
          auto.offset.reset: earliest
          schema.registry.url: http://localhost:8081
          auto.register.schemas: false
          producer.acks: all
          value.subject.name.strategy: io.confluent.kafka.serializers.subject.TopicRecordNameStrategy
  default:
    consumer:
      useNativeDecoding: true
    producer:
      useNativeEncoding: true
  bindings:
    com:
      destination: commands
      group: command-handler
    acf:
      destination: account_creation_feedback
    mtf:
      destination: money_transfer_feedback
    bach:
      destination: balance_changed

# h2 in memory database
spring.datasource:
  url: jdbc:h2:./database;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
  driver-class-name: org.h2.Driver

# jpa
spring.jpa:
  open-in-view: false
  generate-ddl: true
  database-platform: org.hibernate.dialect.H2Dialect
  properties:
    hibernate:
      temp:
        use_jdbc_metadata_defaults: false
# axon framework
axon:
  axonserver:
    client-id: command-handler
#logging.level.org.apache.kafka: debug
logging.level.root: info